/*
 * @Descripttion: 
 * @version: 
 * @Author: qiaoyurensheng@163.com
 * @Date: 2020-05-14 23:54:23
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2020-05-15 22:46:38
 */ 
#fp-nav ul li a span{
    /* 更改导航项参数 */
    background-color: #333 !important;
}
/* 第一屏 */
.section1{
    background: #fadd67 url(../img/1.png) no-repeat center bottom;
}
.fly{
    position: absolute;
    right: 20%;
    top: 10%;
}
.pic1_2{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 336px;
}
.pic1_3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    
}
/* 第二屏 */
.section2{
    background: #84a2d4 url(../img/2.png) no-repeat center bottom;
    z-index:9;
}
.computer{
    width: 990px;
    height: 500px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    /* background-color: rgba(233, 233, 233, 0.3);    */
}
.search{
    width: 222px;
    height: 45px;
    background: url(../img/search.png) no-repeat;
    position: absolute;
    right: -30px;
    bottom: 300px;
    display: none;
}
.search_1{
    position: absolute;
    right: 20px;
    top: 5px;
    /* 用透明度较好 */
    opacity: 0;

}
.search_2{
    position: absolute;
    bottom: 300px;
    right: 383px;
    
    display:none;
}
.soft2_2{
    height: 100px;
    position: absolute;
    bottom: 217px;
    right: 270px;
    /* display: none; */
    opacity: 0;
}
.pic2_3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 550px;
}
.pic2_4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 550px;
    opacity: 0;
}
/* 沙发 */
.pic2-3_4{
    position: absolute;
    left: 395px;
    bottom: 344px;
    width: 100px;
    display:none;
}
.cover{
    position: absolute;
    left: 394px;
    bottom: 344px;
    width: 102px;
    height: 80px;
    background-color: #fff;
    z-index: 9;
    display: none;
}

/* 第三屏 */

.section3{
    background: #ef674d;
    z-index: 1;
}
.main{
    width: 700px;
    height: 500px;
    /* background-color: pink; */
    background: url(../img/3-1.png) no-repeat center center;
    position: absolute;
   left: 50%;
   bottom: 50px;
    transform: translateX(-50%);
}
.select{
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 8px;
    /* background-color: pink; */
}
.pic3_3{
    position: absolute;
    bottom: 10px;
}
/* 沙发 */
.pic3_4,.pic4_1{
    position: absolute;
    left: 115px;
    bottom: 200px;
    display: none;
}
.pic3_2{
    position: absolute;
    
}
.pic3_2_2{
    opacity: 0;
}
.pic3_3_2{
    opacity: 0;
}
/* 第四屏 */
.section4{
    background: #fed url(../img/4.png) no-repeat center bottom;
}
.pic4_2{
    position: absolute;
    left: 50%;
    bottom: 550px;
}
.pic4_3
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
}
.pic4_4
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
    opacity: 0;
}
.car{
width: 500px;
position: absolute;
/* background-color: pink; */
bottom: 50px;
left: 50%;
transform: translateX(-50%);
z-index: 9;
}
.pic4_1_1{
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);z-index: -1;
    display: none;
}
.section4 .pic4_5{
    position: absolute;
    bottom:216px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.section4 .pic4_6{
    position: absolute;
    bottom:380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9; 
    opacity: 0;
}









.section5{
    background: #d04759 url(../img/5.png);
}
.section6{
    background: #84d9ed url(../img/6.png) no-repeat 25% 100%;
}
.section7{
    background: #8ac060 url(../img/7.png) no-repeat 50% 100%;
}
.section8{
    background: url(../img/8.png);
}
/* 右上角固定定位 */
.go{
position: fixed;
top: 5%;
right: 5%;
z-index: 99;
}

/* 动画组 */
.updown{
    animation: fly 3s linear infinite;
}
.pic1_2_anima{
    animation: pic1_2_anima 1.5s linear infinite;

}
@keyframes fly{
    0%{
        top:10%;
    }
    50%{
        top:20%;
    }
    100%{
        top:10%;
    }
}
@keyframes pic1_2_anima{
    0%{
        bottom: 336px;
    }
    50%{
        bottom: 320px;
    }
    100%{
        bottom: 336px;
    }

}
.cloud{
    animation: cloud 30s infinite;
}

@keyframes cloud{
    0%{left: 50%;}
    33%{
        left: 20%;
    }
    66%{
        left: 70%;
    }
    100%{
        left: 50%;
    }
}